.auth-page {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
  }
  
  .auth-box {
    padding: 10px;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .login-form {
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 18px ;
  }

  .login-form > h2 {
    color: #0077b5;
  }
  
  .login-form > button {
    background-color: #0077b5;
    color: white;
    border-radius: 18px;
    cursor: pointer;
    width: 100%;
    border: 0;
    height: 40px;
  }
  
  .login-form > input {
    display: flex;
    height: 40px;
    width: 100%;
    border: 2px solid #0077b5;
    border-radius: 5px;
    outline: none;
  }
  
  .login-form > p {
    color: rgb(0, 0, 0);
  }
  
  .login-form > p > span {
    color: #0077b5;
  }
  
  .incorrect {

  }
  
  .red {
    color: red;
  }
  
  .invisible {
    display: none;
  }